body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.btn {
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  padding: 10px 20px;
  margin: 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #28a745; /* Зелёный цвет */
}

.btn-secondary:hover {
  background-color: #218838; /* Тёмно-зелёный при наведении */
}

.quote {
  font-size: 1.2em;
}

.quote-text {
  font-style: italic;
  min-height: 2.3em;
  margin-block-end: 0.7em;
}

.quote-author {
  font-weight: bold;
  margin-block-start: 0.7em;
}
